<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="TeamWorkPm">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">examples</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/build/coverage" charset="UTF-8"
             yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox-html" target="tests/build/testdox.html" />
    </logging>
    <!-- on teamwork.com -->
    <php>
        <const name="API_COMPANY" value="phpapi3" />
        <const name="API_KEY" value="soap506wind" />
        <const name="API_FORMAT" value="json" />
    </php>
    <!-- on teamworkpm.net
        <const name="API_COMPANY" value="phpapi2"/>
        <const name="API_KEY" value="horse48street"/>
        <const name="API_FORMAT" value="json"/>
    -->
</phpunit>
