<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="tests/build/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         stopOnFailure="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <file>tests/Request/JsonTest.php</file>
            <file>tests/FileTest.php</file>
            <file>tests/TaskTest.php</file>
            <file>tests/ProjectTest.php</file>
            <file>tests/PeopleTest.php</file>
            <file>tests/CompanyTest.php</file>
            <file>tests/AccountTest.php</file>
            <file>tests/ActivityTest.php</file>
            <file>tests/Category/FileTest.php</file>
            <file>tests/Category/LinkTest.php</file>
            <file>tests/Category/MessageTest.php</file>
            <file>tests/Category/NotebookTest.php</file>
            <file>tests/Custom/FieldTest.php</file>
            <file>tests/CommentTest.php</file>
            <file>tests/Comment/FileTest.php</file>
            <file>tests/Comment/TaskTest.php</file>
            <file>tests/Comment/NotebookTest.php</file>
            <file>tests/Comment/MilestoneTest.php</file>
            <file>tests/MilestoneTest.php</file>
            <file>tests/LinkTest.php</file>
            <!--
            <directory>tests</directory>
            -->
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="tests/build/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
