<?xml version="1.0"?>
<psalm
    errorLevel="8"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="false"
    allowStringToStandInForClass="true"
>
    <projectFiles>
        <file name="src/Auth.php" />
        <file name="src/People.php" />
        <file name="src/Company.php" />
        <file name="src/Project.php" />
        <file name="src/Project/People.php" />
        <file name="src/Account.php" />
        <file name="src/Activity.php" />
        <file name="src/Category/Project.php" />
        <file name="src/Category/File.php" />
        <file name="src/Category/Link.php" />
        <file name="src/Category/Message.php" />
        <file name="src/Category/Notebook.php" />
        <!--
        <directory name="src" />
        -->
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="tests" />
        </ignoreFiles>
    </projectFiles>
</psalm>
